# Tests & temporary files
tests/
tmp/
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

# Environment
.env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
